.hero {
}

.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.switcher__content {
  position: relative;
  width: 48px;
  height: 24px;
}

.switcher__content input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switcher__content label {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  text-indent: -9999px;
  width: 48px;
  height: 24px;
  background-color: var(--light-grey);
  border-radius: 16px;
}

.switcher__content label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--accet-green);
  border-radius: 50%;
  transition: 0.3s ease-out;
}

.switcher__content label::before {
  content: '';
  position: absolute;
  right: 10px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--light-grey);
  border-radius: 50%;
  transition: 0.3s ease-out;
  z-index: -1;
  opacity: 0;
}

.switcher__content input:checked + label {
  background-color: var(--black);
}

.switcher__content input:checked + label::after {
  transform: translateX(24px);
}

.switcher__content input:checked + label::before {
  background-color: var(--black);
  opacity: 1;
  z-index: 5;

}
