<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="./index.html" class="header__logo logo">
        Lloyd <span class="text__color">Jefferson.</span>
      </a>
      <div class="switcher">

        <div class="switcher__content">
          <input type="checkbox" id="switch" />
          <label for="switch">Toggle</label>
        </div>

      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#">About me</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Projects</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Contacts</a></li>
        </ul>
      </nav>

      <div class="header__toggle-btn" id="menuBtn">
        <span class="header__toggle-icon"></span>
        <span class="header__toggle-icon"></span>
        <span class="header__toggle-icon"></span>
      </div>
    </div>
  </div>
</header>

