<div class="v-hero">
  <div class="container">
    <div class="v-hero__content">
      <div class="v-hero__top">
        <div class="v-hero__title">
          Hello,&nbsp;I&nbsp;am
          <span class="text__color">Fullstack developer</span>
        </div>
        <div class="v-hero__img">
          <img
            srcset="
              ./images/hero/hero-v2-desc-1x.jpg 1x,
              ./images/hero/hero-v2-desc-2x.jpg 2x
            "
            src="../images/hero/hero-v2-desc.jpg"
            alt="fullstack photo"
          />
        </div>
      </div>
      <div class="v-hero__bottom">
        <a href="#" class="hero__btn">
          <span class="hero__btn-content p-caption">
            <svg width="28" height="14">
              <use href="./images/icons.svg#icon-arr-long"></use>
            </svg>
            Order the project
          </span>
        </a>
        <p class="p-caption v-hero__description">
          I work with people all over the world to create
          <span class="text__color">impressive</span> and
          <span class="text__color">functional websites</span> that reflect each
          client’s unique personality.
        </p>
      </div>
    </div>
  </div>
</div>
