<section class="hero">
  <div class="container hero_container">
    <h1 class="hero__title">
      Hello, I am <span class="hero__text-color">Fullstack developer</span>
    </h1>
    <div class="hero__tab-wrapper">
      <div class="hero__img-wrapper">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./images/hero/hero-v5-mob-1x.jpg 1x,
              ./images/hero/hero-v5-mob-2x.jpg 2x
            "
          />
          <source
            media="(max-width:1279px)"
            srcset="
              ./images/hero/hero-v5-tab-1x.jpg 1x,
              ./images/hero/hero-v5-tab-2x.jpg 2x
            "
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/hero/hero-v5-desc-1x.jpg 1x,
              ./images/hero/hero-v5-desc-2x.jpg 2x
            "
          />
          <img
            class="hero__img"
            src="./images/hero/hero-v5-mob-2x.jpg"
            alt="Fullstack developer photo"
            width="488"
          />
        </picture>
      </div>
      <p class="hero__text p-caption">
        I work with people all over the world to create
        <span class="hero__text-color">impressive</span> and
        <span class="hero__text-color">functional websites</span> that reflect
        each client's unique personality.
      </p>
      <a href="#work" class="hero__btn tab_btn">
        <span class="hero__btn-content p-caption">
          <svg width="28" height="14">
            <use href="./images/icons.svg#icon-arr-long"></use>
          </svg>
          Order the project
        </span>
      </a>
    </div>
  </div>
</section>
