<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>

    <!-- Slider main container -->

    <div class="swiper">

      <!-- Additional required wrapper -->

      <div class="swiper-wrapper">

        <!-- Slides -->

      </div>

      <div class="swiper__wrapper_button">
        <div class="swiper__button swiper-button-prev">
          <button>
            <svg width="40" height="40">
              <use href="../images/icons.svgicon-arr-long"></use>
            </svg>
          </button>

        </div>
        <div class="swiper__button swiper-button-next">
          <button>
            <svg width="40" height="40">
              <use href="../images/icons.svgicon-arr-long"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>