<section class="work-together section">
  <div class="container">
    <div class="work-together__content">
      <h2 class="work-together__header">
        let’s <span class="text__color">work together</span>
      </h2>
      <!-- <img
        class="work-together__decor"
        srcset="
          /images/decor/decor-bg-7-tab-1x.png 1x,
          /images/decor/decor-bg-7-tab-2x.png 2x
        "
        src="/images/decor/decor-bg-7-tab-1x.png"
        alt="decor-img"
      /> -->
      <p class="work-together__text">
        Contact me to transform your ideas into exceptional solutions.
      </p>
      <ul class="work-together__list">
        <li class="work-together__item">
          <svg class="work-together-list__svg" width="24" height="24">
            <use href="/images/icons.svg#icon-phone"></use>
          </svg>
          <a class="work-together-list__link" href="tel:+380904567890"
            >+38 090 456 78 90</a
          >
        </li>
        <li class="work-together__item">
          <svg class="work-together-list__svg" width="24" height="24">
            <use href="/images/icons.svg#icon-mail"></use>
          </svg>
          <a
            class="work-together-list__link"
            href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="work-together__item">
          <svg class="work-together-list__svg" width="24" height="24">
            <use href="/images/icons.svg#icon-map"></use>
          </svg>
          <a class="work-together-list__link" href="">USA, New York</a>
        </li>
      </ul>

      <form class="work-together__form">
        <div class="work-together__input-container">
          <input
            class="form__email"
            type="email"
            name="form-email"
            placeholder="Your email*"
          />

          <svg class="form__svg-check-right" width="16" height="16">
            <use href="/images/icons.svg#icon-success"></use>
          </svg>
          <p class="form__email-check-wrong">Invalid email, try again</p>
        </div>

        <textarea
          class="form__textarea"
          name="form-textarea"
          placeholder="Message"
          rows="4"
          required
        ></textarea>

        <button class="form__button" type="submit">send message</button>
      </form>

      <!-- modal-window -->
      <div class="work-together__modal-window is-ope">
        <div class="modal-window__container container">
          <button class="modal-window__close-btn" type="button">
            <svg class="modal-window__svg" width="12" height="12">
              <use href="/images/icons.svg#icon-close"></use>
            </svg>
          </button>
          <p class="modal-window__title">
            Thank you for your interest in cooperation!
          </p>
          <p class="modal-window__text p-l">
            The manager will contact you shortly to discuss further details and
            opportunities for cooperation. Please stay in touch.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
